<h1>Facebook Yorch App</h1>

<div>
    <h2>Create Room</h2>
    <%= form_with model: @room do |f| %>
        <%= f.label "Room's name: " %>
        <%= f.text_field :name %>
        <%= f.submit %>
    <% end %>
    <% if current_user.chats.present? %>
    <div>
        <h4>Your chats</h4>
        <% current_user.chats.each do |chat| %>
            <p>
                <%= chat.name %> <%= link_to "Go", room_path(chat) %>
            </p>
        <% end %>
    </div>
<% end %>
</div>


<div>
    <h2>
        New post.
    </h2>
    <%= render 'posts/form' %>

    <section class="posts-section">
        <h4>Posts</h4>
        <% @posts.each do |post| %>
            <p>
                <%= post.title %> <br>
                <%= post.body %> <br>
                Author: <small><strong><%=post.user.email %></strong></small>
            </p>
        <% end %>
    </section>
</div>
