<main class="room">
    <h2><%= @room.name %></h2>
    <section class="users-section">
        <% if admin_room(current_user, @room) %>
            <div>
                <h4>Add users</h4>
                <% @users.each do |user| %>
                    <% if !(UserRoom.validate_presence(user, @room).first.present?) %>
                        <p>
                            <%= user.email %> <br>
                            <%= button_to 'Invite user', 
                                add_user_chat_path, 
                                method: :post, 
                                params: { user: user.id, room: @room.id } %>
                        </p>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        
        <div>
            <h4>Participants</h4>
            <% @room.participants.each do |user| %>
                <p>
                    <%= user.email %> 
                    <% if admin_room(current_user, @room) && current_user != user %>
                        <%= button_to 'Remove user', 
                            remove_user_chat_path, method: :delete, 
                            params: { user: user.id, room: @room.id } %>
                    <% end %>

                </p>
            <% end %>
        </div>
    </section>

    <section class="messages-section">
        <div class="messages-room">
            <% @messages.each do |message| %>
                <p>
                    <b><%= message.user.email %></b>: <%= message.content %>
                </p>
            <% end %>
        </div>

        <div class="messages-form">
            <%= render 'messages/form' %>
        </div>
    </section>

    <section>
        <% if admin_room(current_user, @room) %>
            <strong>You are the admin</strong>
        <% else %>
            <strong>You are not the admin</strong>
        <% end %>
    </section>
</main>
