<h2><%= @room.name %></h2>

<div>
    <h4>Add users</h4>
    <% @users.each do |user| %>
        <p>
            <%= user.email %> 
            <%= button_to 'Invite user', 
                    add_user_chat_path, 
                    method: :post, 
                    params: { user: user.id, room: @room.id } if !(UserRoom.validate_presence(user, @room).first.present?) %>
        </p>
    <% end %>
</div>

<div>
    <h4>Users in this chat</h4>
    <% @room.participants.each do |user| %>
        <p>
            <%= user.email %> <%= button_to 'Remove user', remove_user_chat_path, method: :delete, params: { user: user.id, room: @room.id } %>
        </p>
    <% end %>
</div>

<div>
    <%= render 'messages/form' %>
</div>
