<%= form_for @post, remote: true do |form| %>
    <%= render 'shared/errors', obj: @post %>
    <div>
        <%= form.label "Post's title" %>
        <%= form.text_field :title, class: "input-title-post" %>
    </div>
    <div>
        <%= form.label "Post's description" %>
        <%= form.text_area :body, class: "input-body-post" %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>